name: Android Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup Node.js 20
      uses: actions/setup-node@v3
      with:
        node-version: '20'
        cache: 'npm'
        
    - name: Install dependencies
      run: npm install
      
    - name: Run Tests
      env:
        ANDROID_DEVICE_NAME: 'Pixel_4a_API_33'
        ANDROID_PLATFORM_VERSION: '13.0'
      run: npm test
      
    - name: Upload test artifacts
      if: failure()
      uses: actions/upload-artifact@v3
      with:
        name: test-failures
        path: |
          ./errorShots/
          ./allure-results/